<div class="container" id="about">
    <div class="row">
        <div class="col-md-7 order-md-2">
            <span class="text-muted fs-4">About Us |</span>
            <h2 class="fw-bold display-4 lh-1 sec-title">
                Learn More About <br> <span class="text-warning">Our History</span>
            </h2>
            <p class="lead lh-2 pb-2 border-bottom sec-lead">
                <span class="fw-bold gold">WangScent PH</span> was founded with a vision to bring affordable luxury fragrances to the Filipino market
            </p>
            <p class="fs-6 lh-2 land-text sec-lead">
                Our journey began with a passion for crafting unique scents that resonate with individuality and elegance. Over the time, we have dedicated ourselves to sourcing high-quality ingredients and perfecting our blends to ensure that every bottle we offer embodies sophistication and charm.
            </p>
            <p class="fs-6 lh-2 land-text sec-lead">
                We started with humble beginnings, focusing on creating a small range of signature scents that quickly gained popularity among fragrance enthusiasts. As our brand grew, so did our commitment to innovation and excellence in perfumery. Today, WangScent PH stands as a testament to our dedication to quality, creativity, customer satisfaction, and camarederie. Without one another, WangScent PH will not be here today. 
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto rounded-5" src="./resource/img/about_us.webp" alt="about_us_pic" height="auto" width="500">
        </div>
    </div>
    <hr>
</div>