<div class="container py-5" id="contacts">
    <div class="row mb-5">
        <div class="col-md-7 order-1">
            <span class="text-muted fs-4">Contact Us |</span>
            <h2 class="fw-bold display-4 lh-1 sec-title">
                Want to <span class="text-warning">Inquire?</span>
            </h2>
            <p class="lead lh-2 land-text sec-lead">
                Any <span class="fw-bold gold">concerns or questions?</span> Feel free to reach out to us through any of the following contact details. We're here to assist you and provide the information you need about our products and services.
            </p>
        </div>
        <div class="col-md-5 order-2">
            <div class="mb-4">
                <h4 class="fw-bold lh-1 gold">Address</h4>
                <p class="lead sec-lead">Business Address</p>
            </div>
            <div class="mb-4">
                <h4 class="fw-bold lh-1 gold">Email Address</h4>
                <p class="lead sec-lead">Business Email@email.com</p>
            </div>
            <div class="mb-4">
                <h4 class="fw-bold lh-1 gold">Phone</h4>
                <p class="lead sec-lead">(+63)Business Phone</p>
            </div>
        </div>
    </div>
</div>