<div class="container" id="contacts">
    <div class="row">
        <div class="col-md-7 order-1">
            <span class="text-muted">Contact Us</span>
            <h2 class="fw-normal lh-1">
                Want to <span class="text-body-secondary">Inquire?</span>
            </h2>
            <p class="lead">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam eos aliquam voluptas sequi recusandae fugiat beatae veniam nisi, nam vero quam sunt? Nihil, voluptate sapiente nemo distinctio veniam iure natus!
            </p>
        </div>
        <div class="col-md-5 order-2">
            <div class="mb-4">
                <h4 class="fw-normal lh-1">Address</h4>
                <p class="lead">Business Address</p>
            </div>
            <div class="mb-4">
                <h4 class="fw-normal lh-1">Email Address</h4>
                <p class="lead">Business Email@email.com</p>
            </div>
            <div class="mb-4">
                <h4 class="fw-normal lh-1">Phone</h4>
                <p class="lead">(+63)Business Phone</p>
            </div>
        </div>
    </div>
    <hr style="margin: 5rem; ">
</div>