<div class="hero-bg text-center">
    <div class="hero-content px-4 py-5">
        <img class="d-block mx-auto mb-4" alt="site_logo" width="72" height="auto" src="./resource/img/WangScentLogo.svg">
        <h1 class="display-3 fw-bold gold">Wang Scent PH</h1>
        <div class="mx-auto col-lg-6">
            <p class="lead fw-normal mb-4">
                Where luxury meets affordability — discover your signature scent with Wang Scent PH.
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a class="btn btn-warning btn-lg px-4 gap-3 gold-btn" href="./login-page.php">
                    Check our Products
                </a>
                <a class="btn btn-warning btn-lg px-4 gold-btn" href="./index.php#about">
                    Learn More
                </a>
            </div>
        </div>
    </div>
</div>