<div class="container" id="product">
    <hr style="margin: 5rem;">
    <div class="row">
        <div class="col-md-7">
            <h2 class="fw-normal lh-1">
                Check Our <span class="text-body-secondary">Products</span>
            </h2>
            <p class="lead">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam eos aliquam voluptas sequi recusandae fugiat beatae veniam nisi, nam vero quam sunt? Nihil, voluptate sapiente nemo distinctio veniam iure natus!
                <a href="./product-page.php" class="btn btn-primary">
                    Check them out here
                </a>
            </p>
        </div>
        <div class="col-md-5">
            <svg aria-label="Placeholder: 500x500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500" preserveAspectRatio="xMidYMid slice" role="img" width="500" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
        </div>
    </div>
    <hr style="margin: 5rem;">
</div>