<div class="container" id="product">
    <hr style="margin: 5rem;">
    <div class="row">
        <div class="col-md-7">
            <span class="text-body-secondary fs-4">Our Products |</span>
            <h2 class="display-4 fw-bold lh-1 sec-title">
                What Products <span class="text-warning">We Offer</span>
            </h2>
            <p class="lead pb-2 border-bottom sec-lead">
                <span class="fw-bold gold">WangScent PH</span> offers a curated selection of luxury fragrances designed to captivate the senses and elevate your personal style without breaking the bank
            </p>
            <p class="fs-6 lh-2 land-text sec-lead">
                Each scent is meticulously crafted using the finest ingredients, ensuring a unique olfactory experience that resonates with sophistication and elegance. Whether you prefer floral, woody, or oriental notes, our diverse collection caters to every preference, allowing you to find the perfect fragrance that reflects your individuality.
            </p>
            <p class="fs-6 lh-2 land-text sec-lead">
                Our inspired luxury perfumes from luxury brands are available at a fraction of the cost, making high-end scents accessible to a wider audience. We believe that everyone deserves to indulge in the allure of luxury fragrances, and our commitment to quality and affordability sets us apart in the market. Explore our range today and discover the perfect scent that defines you.
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto rounded-5" src="./resource/img/what_we_offer.webp" alt="Image_of_Product_Display" height="500" width="500">
        </div>
    </div>
    <hr style="margin: 5rem;">
</div>