<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Check out the rest of our products</h1>
            <p class="lead text-body-secondary">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe accusantium eius in fugit delectus aut aliquid, temporibus quae, sint repellat ipsa, sunt dolor reprehenderit non quas beatae aperiam nisi eligendi?
            </p>
            <p>
                <a href="#" class="btn btn-primary my-2">Something cool</a>
                <a href="#" class="btn btn-secondary my-2">Something smart</a>
            </p>
        </div>
    </div>
</section>