<div class="py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <!-- Column Start -->
        <?php foreach($prod_table as $data) { ?>
            <div class="col">
                <!-- card start -->
                <div class="card shadow-sm h-100">
                    <!-- <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                    <img class="card-img-top" height="200" width="200" src="<?= htmlspecialchars($data['image_link']); ?>" alt="">
                    <div class="card-body">
                        <h5 class="fw-bold card-title"><?= htmlspecialchars($data['name']); ?></h5>
                        <p class="card-text"><?= htmlspecialchars($data['description']); ?></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <form action="./resource/php/producthandler.php" method="post">
                                    <input type="hidden" name="cid" value="<?= htmlspecialchars($_SESSION['cart_id']); ?>">
                                    <input type="hidden" name="cpid" value="<?= htmlspecialchars($data['product_id']); ?>">
                                    <input type="hidden" name="price" value="<?= htmlspecialchars($data['price']); ?>">
                                    <button class="btn btn-sm btn-success" type="submit" name="add-p">
                                        Add to Cart
                                    </button>
                                </form>
                            </div>
                            <small class="text-body-secondary">&#8369;<?= htmlspecialchars($data['price']); ?></small>
                        </div>
                    </div>
                </div>
                <!-- card end -->
            </div>
            <!-- Column End -->
        <?php } ?>
        </div>
    </div>
</div>