<div class="py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <!-- Column Start -->
            <div class="col">
                <!-- card start -->
                <div class="card shadow-sm">
                    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                        <h5 class="fw-bold card-title">Product Name</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis provident delectus, nulla quod omnis fugit quis veniam ex. Asperiores soluta quidem facilis nesciunt recusandae. Saepe ipsum repellendus laboriosam fugiat dicta?
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button class="btn btn-sm btn-warning" type="button">Order Now</button>
                                <button class="btn btn-sm btn-success" type="button">Add to Cart</button>
                            </div>
                            <small class="text-body-secondary">Category Text or Price?</small>
                        </div>
                    </div>
                </div>
                <!-- card end -->
            </div>
            <!-- Column End -->
            <!-- Column Start -->
            <div class="col">
                <!-- card start -->
                <div class="card shadow-sm">
                    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                        <h5 class="fw-bold card-title">Product Name</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis provident delectus, nulla quod omnis fugit quis veniam ex. Asperiores soluta quidem facilis nesciunt recusandae. Saepe ipsum repellendus laboriosam fugiat dicta?
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button class="btn btn-sm btn-warning" type="button">Order Now</button>
                                <button class="btn btn-sm btn-success" type="button">Add to Cart</button>
                            </div>
                            <small class="text-body-secondary">Category Text or Price?</small>
                        </div>
                    </div>
                </div>
                <!-- card end -->
            </div>
            <!-- Column End -->
            <!-- Column Start -->
            <div class="col">
                <!-- card start -->
                <div class="card shadow-sm">
                    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                        <h5 class="fw-bold card-title">Product Name</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis provident delectus, nulla quod omnis fugit quis veniam ex. Asperiores soluta quidem facilis nesciunt recusandae. Saepe ipsum repellendus laboriosam fugiat dicta?
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button class="btn btn-sm btn-warning" type="button">Order Now</button>
                                <button class="btn btn-sm btn-success" type="button">Add to Cart</button>
                            </div>
                            <small class="text-body-secondary">Category Text or Price?</small>
                        </div>
                    </div>
                </div>
                <!-- card end -->
            </div>
            <!-- Column End -->
            <!-- Column Start -->
            <div class="col">
                <!-- card start -->
                <div class="card shadow-sm">
                    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                        <h5 class="fw-bold card-title">Product Name</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis provident delectus, nulla quod omnis fugit quis veniam ex. Asperiores soluta quidem facilis nesciunt recusandae. Saepe ipsum repellendus laboriosam fugiat dicta?
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button class="btn btn-sm btn-warning" type="button">Order Now</button>
                                <button class="btn btn-sm btn-success" type="button">Add to Cart</button>
                            </div>
                            <small class="text-body-secondary">Category Text or Price?</small>
                        </div>
                    </div>
                </div>
                <!-- card end -->
            </div>
            <!-- Column End -->
            <!-- Column Start -->
            <div class="col">
                <!-- card start -->
                <div class="card shadow-sm">
                    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                        <h5 class="fw-bold card-title">Product Name</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis provident delectus, nulla quod omnis fugit quis veniam ex. Asperiores soluta quidem facilis nesciunt recusandae. Saepe ipsum repellendus laboriosam fugiat dicta?
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button class="btn btn-sm btn-warning" type="button">Order Now</button>
                                <button class="btn btn-sm btn-success" type="button">Add to Cart</button>
                            </div>
                            <small class="text-body-secondary">Category Text or Price?</small>
                        </div>
                    </div>
                </div>
                <!-- card end -->
            </div>
            <!-- Column End -->
            <!-- Column Start -->
            <div class="col">
                <!-- card start -->
                <div class="card shadow-sm">
                    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                        <h5 class="fw-bold card-title">Product Name</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis provident delectus, nulla quod omnis fugit quis veniam ex. Asperiores soluta quidem facilis nesciunt recusandae. Saepe ipsum repellendus laboriosam fugiat dicta?
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button class="btn btn-sm btn-warning" type="button">Order Now</button>
                                <button class="btn btn-sm btn-success" type="button">Add to Cart</button>
                            </div>
                            <small class="text-body-secondary">Category Text or Price?</small>
                        </div>
                    </div>
                </div>
                <!-- card end -->
            </div>
            <!-- Column End -->
            <!-- Column Start -->
            <div class="col">
                <!-- card start -->
                <div class="card shadow-sm">
                    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                        <h5 class="fw-bold card-title">Product Name</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis provident delectus, nulla quod omnis fugit quis veniam ex. Asperiores soluta quidem facilis nesciunt recusandae. Saepe ipsum repellendus laboriosam fugiat dicta?
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button class="btn btn-sm btn-warning" type="button">Order Now</button>
                                <button class="btn btn-sm btn-success" type="button">Add to Cart</button>
                            </div>
                            <small class="text-body-secondary">Category Text or Price?</small>
                        </div>
                    </div>
                </div>
                <!-- card end -->
            </div>
            <!-- Column End -->
            <!-- Column Start -->
            <div class="col">
                <!-- card start -->
                <div class="card shadow-sm">
                    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                        <h5 class="fw-bold card-title">Product Name</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis provident delectus, nulla quod omnis fugit quis veniam ex. Asperiores soluta quidem facilis nesciunt recusandae. Saepe ipsum repellendus laboriosam fugiat dicta?
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button class="btn btn-sm btn-warning" type="button">Order Now</button>
                                <button class="btn btn-sm btn-success" type="button">Add to Cart</button>
                            </div>
                            <small class="text-body-secondary">Category Text or Price?</small>
                        </div>
                    </div>
                </div>
                <!-- card end -->
            </div>
            <!-- Column End -->
            <!-- Column Start -->
            <div class="col">
                <!-- card start -->
                <div class="card shadow-sm">
                    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                        <h5 class="fw-bold card-title">Product Name</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis provident delectus, nulla quod omnis fugit quis veniam ex. Asperiores soluta quidem facilis nesciunt recusandae. Saepe ipsum repellendus laboriosam fugiat dicta?
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button class="btn btn-sm btn-warning" type="button">Order Now</button>
                                <button class="btn btn-sm btn-success" type="button">Add to Cart</button>
                            </div>
                            <small class="text-body-secondary">Category Text or Price?</small>
                        </div>
                    </div>
                </div>
                <!-- card end -->
            </div>
            <!-- Column End -->
        </div>
    </div>
</div>