<div class="carousel mt-5 pt-5 slide mb-6" id="prod-carousel">
    <div class="carousel-indicators">
        <button class="active" type="button" data-bs-target="#prod-carousel" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"></button>
        <button class="" type="button" data-bs-target="#prod-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button class="" type="button" data-bs-target="#prod-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="./product-page.php#display">
                <img class="d-block w-100 caro-img" src="./resource/img/featured_products.webp" alt="image_of_featured_product" width="auto" height="450">
            </a>
            <div class="container">
                <div class="carousel-caption text-start bg-black bg-opacity-50 p-2 rounded-3">
                    <h3 class="gold">Our Signature Collection</h3>
                    <p class="text-white lh-1">
                        Discover our curated, artisanal scents — refined notes, lasting presence.
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <a href="./product-detail.php?product_id=<?= htmlspecialchars($prod_carousel[0]['product_id'] ?? ''); ?>">
                <img class="d-block w-100 caro-img" src="<?= htmlspecialchars($prod_carousel[0]['image_link'] ?? ''); ?>" alt="Image of <?= htmlspecialchars($prod_carousel[1]['name'] ?? ''); ?>" width="auto" height="450">
            </a>
            <div class="container">
                <div class="carousel-caption text-start bg-black bg-opacity-50 p-2 rounded-3">
                    <h3 class="gold"><?= htmlspecialchars($prod_carousel[0]['name'] ?? ''); ?></h3>
                    <p class="text-white lh-1">
                        <?= htmlspecialchars($prod_carousel[0]['description'] ?? ''); ?>
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <a href="./product-detail.php?product_id=<?= htmlspecialchars($prod_carousel[1]['product_id'] ?? ''); ?>">
                <img class="d-block w-100 caro-img" src="<?= htmlspecialchars($prod_carousel[1]['image_link'] ?? ''); ?>" alt="Image of <?= htmlspecialchars($prod_carousel[2]['name'] ?? ''); ?>" width="auto" height="450">
            </a>
            <div class="container">
                <div class="carousel-caption text-start bg-black bg-opacity-50 p-2 rounded-3">
                    <h3 class="gold"><?= htmlspecialchars($prod_carousel[1]['name'] ?? ''); ?></h3>
                    <p class="text-white lh-1">
                        <?= htmlspecialchars($prod_carousel[1]['description'] ?? ''); ?>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#prod-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#prod-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>