<div class="carousel mt-5 pt-5 slide mb-6" id="prod-carousel">
    <div class="carousel-indicators">
        <button class="active" type="button" data-bs-target="#prod-carousel" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"></button>
        <button class="" type="button" data-bs-target="#prod-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button class="" type="button" data-bs-target="#prod-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="<?= htmlspecialchars($prod_carousel[0]['image_link']); ?>" alt="Image of <?= htmlspecialchars($prod_carousel[0]['name']); ?>" width="800" height="400">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1><?= htmlspecialchars($prod_carousel[0]['name']); ?></h1>
                    <p class="opacity-75">
                        <?= htmlspecialchars($prod_carousel[0]['description']); ?>
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="<?= htmlspecialchars($prod_carousel[1]['image_link']); ?>" alt="Image of <?= htmlspecialchars($prod_carousel[1]['name']); ?>" width="800" height="400">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1><?= htmlspecialchars($prod_carousel[1]['name']); ?></h1>
                    <p class="opacity-75">
                        <?= htmlspecialchars($prod_carousel[1]['description']); ?>
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="<?= htmlspecialchars($prod_carousel[2]['image_link']); ?>" alt="Image of <?= htmlspecialchars($prod_carousel[2]['name']); ?>" width="800" height="400">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1><?= htmlspecialchars($prod_carousel[2]['name']); ?></h1>
                    <p class="opacity-75">
                        <?= htmlspecialchars($prod_carousel[2]['description']); ?>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#prod-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#prod-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>