<div class="form-floating mb-2">
    <input class="form-control" type="password" name="password" id="regpwd_input" placeholder="Enter your password" minlength="8" required>
    <label for="regpwd_input">Password</label>
    <div class="form-text text-danger text-center" id="pwd-err"></div>
</div>
<div class="form-floating mb-2">
    <input class="form-control" type="password" name="confirm_password" id="validpwd_input" placeholder="Repeat your password" aria-describedby="pwdinfo" minlength="8" required>
    <label for="validpwd_input">Repeat Password</label>
    <div class="form-text text-danger text-center" id="vpwd-err"></div>
</div>