<main class="form-cont card w-100 m-auto shadow">
    <form action="resource/php/registerhandler.php" method="post">
        <div class="card-header">
            <h1 class="h2 text-center">Sign Up</h1>
        </div>
        <div class="card-body">
            <?php register_saved_input(); ?>
            <input type="hidden" name="csrf_token" value="<?= $_SESSION['csrf_token'] ?>" >
            <div class="d-flex align-items-center justify-content-center">
                <button class="btn btn-primary w-50 my-4 py-2 text-align-center rounded-pill" name="register-btn" type="submit">Sign Up</button>
            </div>
            <p class="text-center">Already have an account? Sign In <a class="text-decoration-none" href="./login-page.php">here.</a></p>
            <div class="d-flex justify-content-center align-items-center">
                <a class="text-decoration-none" href="./index.php">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
                    </svg>
                    Return to home
                </a>
            </div>
        </div>
    </form>
</main>