<div class="container py-5">
    <div class="text-start mb-4 mt-5">
        <a href="./product-page.php" class="btn btn-outline-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/></svg>
            Go to Products
        </a>
    </div>
    <h2 class="mb-5">User Profile</h2>
    <div class="row">
        <div class="col-lg-4">
            <div class="m-5" style="top: 50rem;">
                <h4 class="my-3 text-center">User Information</h4>
                <div class="row mb-3">
                    <h5 class="col">Username</h5>
                    <span class="col"><?= htmlspecialchars($_SESSION['username']); ?></span>
                </div>
                <hr>
                <div class="row mb-3">
                    <h5 class="col">Email</h5>
                    <span class="col"><?= htmlspecialchars($_SESSION['email']); ?></span>
                </div>
                <hr>
                <div class="row mb-3">
                    <h5 class="col">Phone Number</h5>
                    <span class="col"><?= htmlspecialchars($_SESSION['phone']); ?></span>
                </div>
                <div class="row mb-2 d-flex px-3">
                    <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#editusr">Edit User Info</button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editusr" aria-labelledby="editusr" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title">Edit User Information</h1>
                    </div>
                    <div class="modal-body">
                        <form action="./resource/php/usreditorhandler.php" method="post">
                            <input type="hidden" name="euid" value="<?= htmlspecialchars($_SESSION['user_id']) ?>">
                            <div class="form-floating mb-3">
                                <input class="form-control editname" type="text" name="ename"value="<?= htmlspecialchars($_SESSION['username']); ?>">
                                <label for="editname">Username</label>
                                <div class="form-text text-danger text-center eusr_in"></div>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control editmail" type="email" name="eemail" value="<?= htmlspecialchars($_SESSION['email']); ?>">
                                <label for="editmail">Email</label>
                                <div class="form-text text-danger text-center eml_in"></div>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control editnum" type="tel" name="ephone" value="<?= htmlspecialchars($_SESSION['phone']); ?>" maxlength="11" inputmode="numeric" pattern="09\d{9}">
                                <label for="editphone">Phone Number</label>
                                <div class="form-text text-danger text-center enum_in"></div>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control editpass" type="password" minlength="8" name="epass">
                                <label for="editpass">New Password</label>
                                <div class="form-text text-danger text-center epwd_in"></div>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control vepass" type="password" minlength="8" name="veepass">
                                <label for="vepass">Verify New Password</label>
                                <div class="form-text text-danger text-center evpwd_in"></div>
                            </div>
                            <div class="d-flex row justify-content-center align-items-center gap-2 p-2">
                                <button class="btn btn-success" type="submit" name="edit-user">Save Changes</button>
                                <button class="btn btn-danger" type="reset" data-bs-dismiss="modal">Discard Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="p-2">
                <h4 class="my-3 text-center">Order History</h4>
                <ul class="nav nav-tabs flex-column flex-sm-row mb-4 justify-content-center bg-body-secondary rounded shadow-sm" role="tablist" id="table-tab">
                    <li class="nav-item" role="presentation">
                        <button class="flex-sm-fill w-100 text-sm-center nav-link active" type="button" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" aria-controls="all" role="tab" aria-selected="true">All</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="flex-sm-fill w-100 text-sm-center nav-link" type="button" id="pending-tab" data-bs-toggle="tab" data-bs-target="#pending" aria-controls="pending" role="tab" aria-selected="false">Pending</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="flex-sm-fill w-100 text-sm-center nav-link" type="button" id="received-tab" data-bs-toggle="tab" data-bs-target="#received" aria-controls="received" role="tab" aria-selected="false">Received</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="flex-sm-fill w-100 text-sm-center nav-link" type="button" id="shipped-tab" data-bs-toggle="tab" data-bs-target="#shipped" aria-controls="shipped" role="tab" aria-selected="false">Shipped</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="flex-sm-fill w-100 text-sm-center nav-link" type="button" id="cancelled-tab" data-bs-toggle="tab" data-bs-target="#cancelled" aria-controls="cancelled" role="tab" aria-selected="false">Cancelled</button>
                    </li>
                </ul>
                <div class="tab-content" id="table-tab-content">
                    <div class="tab-pane fade active show" id="all" role="tabpanel" aria-labelledby="all-tab" tabindex="0">
                        <div class="table-responsive">
                            <table class="table table-hover table-sm">
                                <thead>
                                    <th scope="col">Order No.</th>
                                    <th scope="col">Total Price</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Last Updated</th>
                                    <th scope="col">Action</th>
                                </thead>
                                <tbody>
                                <?php 
                                    foreach($ord_table as $data) { 
                                    $time = $data['date_updated'];
                                    $timestamp = strtotime($time);
                                    $date = date("M-d-Y, h:i a", $timestamp);
                                ?>
                                    <tr>
                                        <td scope="row"><?= htmlspecialchars($data['order_id']); ?></td>
                                        <td><?= htmlspecialchars($data['total_amount']); ?></td>
                                        <td><?= htmlspecialchars($data['status']); ?></td>
                                        <td><?= htmlspecialchars($date); ?></td>
                                        <td>
                                            <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#order<?= htmlspecialchars($data['order_id']); ?>">View</button>
                                        </td>
                                    </tr>
                                    <div class="modal fade" id="order<?= htmlspecialchars($data['order_id']); ?>" aria-labelledby="<?= htmlspecialchars($data['order_id']); ?>" aria-hidden="true" tabindex="-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title">Order Details</h1>
                                                </div>
                                                <div class="modal-body">
                                                    <?php 
                                                        $order_items = $ord->getOrderItems($data['order_id']);
                                                        foreach ($order_items as $items) {
                                                            $prod_name = $ord->getProductName($items['product_id']);
                                                    ?>
                                                        <div class="row mb-2 p-2">
                                                            <div class="col">
                                                                <span class="text-muted fw-bold">Product Name:</span> <br>
                                                                <?= htmlspecialchars($prod_name['name']); ?>
                                                            </div>
                                                            <div class="col">
                                                                <span class="text-muted fw-bold">Price:</span> &#8369;<?= htmlspecialchars($items['price']); ?> <br>
                                                                <span class="text-muted fw-bold">Quantity:</span> <?= htmlspecialchars($items['quantity']); ?> <br>
                                                            </div>
                                                        </div>
                                                    <?php } ?>
                                                </div>
                                                <?php if ($data['status'] == 'Pending') { ?>
                                                    <div class="modal-footer">
                                                        <form action="./resource/php/userorderhandler.php" method="post">
                                                            <input type="hidden" name="ord-id" value="<?= htmlspecialchars($data['order_id']); ?>">
                                                            <input type="hidden" name="ord-uid" value="<?= htmlspecialchars($data['user_id']); ?>">
                                                            <button class="btn btn-outline-danger" name="cancel-ord">Cancel Order</button>
                                                        </form>
                                                    </div>
                                                <?php } else { ?>
                                                <?php } ?>
                                            </div>
                                        </div>
                                    </div>
                                <?php } ?>
                                </tbody>
                            </table>
                            <?php include('resource/template/pagination/pagination.html') ?>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pending" role="tabpanel" aria-labelledby="pending-tab" tabindex="0">
                        <div class="table-responsive">
                            <table class="table table-hover table-sm">
                                <thead>
                                    <th scope="col">Order No.</th>
                                    <th scope="col">Total Price</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Last Updated</th>
                                    <th scope="col">Action</th>
                                </thead>
                                <tbody>
                                    <?php 
                                        foreach($ord_table_pend as $data_p) {
                                            $time = $data_p['date_updated'];
                                            $timestamp = strtotime($time);
                                            $date = date("M-d-Y, h:i a", $timestamp);
                                    ?>
                                    <tr>
                                        <td scope="row"><?= htmlspecialchars($data_p['order_id']); ?></td>
                                        <td><?= htmlspecialchars($data_p['total_amount']); ?></td>
                                        <td><?= htmlspecialchars($data_p['status']); ?></td>
                                        <td><?= htmlspecialchars($date); ?></td>
                                        <td>
                                            <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#orderp<?= htmlspecialchars($data_p['order_id']); ?>">View</button>
                                        </td>
                                    </tr>
                                    <div class="modal fade" id="orderp<?= htmlspecialchars($data_p['order_id']); ?>" aria-labelledby="<?= htmlspecialchars($data_p['order_id']); ?>" aria-hidden="true" tabindex="-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title">Order Details</h1>
                                                </div>
                                                <div class="modal-body">
                                                    <?php 
                                                        $order_items = $ord->getOrderItems($data_p['order_id']);
                                                        foreach ($order_items as $items) {
                                                            $prod_name = $ord->getProductName($items['product_id']);
                                                    ?>
                                                        <div class="row mb-2 p-2">
                                                            <div class="col">
                                                                <span class="text-muted fw-bold">Product Name:</span> <br>
                                                                <?= htmlspecialchars($prod_name['name']); ?>
                                                            </div>
                                                            <div class="col">
                                                                <span class="text-muted fw-bold">Price:</span> &#8369;<?= htmlspecialchars($items['price']); ?> <br>
                                                                <span class="text-muted fw-bold">Quantity:</span> <?= htmlspecialchars($items['quantity']); ?> <br>
                                                            </div>
                                                        </div>
                                                    <?php } ?>
                                                </div>
                                                <div class="modal-footer">
                                                    <form action="./resource/php/userorderhandler.php" method="post">
                                                        <input type="hidden" name="ord-id" value="<?= htmlspecialchars($data_p['order_id']); ?>">
                                                        <input type="hidden" name="ord-uid" value="<?= htmlspecialchars($data_p['user_id']); ?>">
                                                        <button class="btn btn-outline-danger" name="cancel-ord">Cancel Order</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <?php } ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="shipped" role="tabpanel" aria-labelledby="shipped-tab" tabindex="0">
                        <div class="table-responsive">
                            <table class="table table-hover table-sm">
                                <thead>
                                    <th scope="col">Order No.</th>
                                    <th scope="col">Total Price</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Last Updated</th>
                                    <th scope="col">Action</th>
                                </thead>
                                <tbody>
                                    <?php 
                                        foreach($ord_table_ship as $data_s) { 
                                            $time = $data_s['date_updated'];
                                            $timestamp = strtotime($time);
                                            $date = date("M-d-Y, h:i a", $timestamp);
                                    ?>
                                    <tr>
                                        <td scope="row"><?= htmlspecialchars($data_s['order_id']); ?></td>
                                        <td><?= htmlspecialchars($data_s['total_amount']); ?></td>
                                        <td><?= htmlspecialchars($data_s['status']); ?></td>
                                        <td><?= htmlspecialchars($date); ?></td>
                                        <td>
                                            <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#orders<?= htmlspecialchars($data_s['order_id']); ?>">View</button>
                                        </td>
                                    </tr>
                                    <div class="modal fade" id="orders<?= htmlspecialchars($data_s['order_id']); ?>" aria-labelledby="<?= htmlspecialchars($data_s['order_id']); ?>" aria-hidden="true" tabindex="-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title">Order Details</h1>
                                                </div>
                                                <div class="modal-body">
                                                    <?php 
                                                        $order_items = $ord->getOrderItems($data_s['order_id']);
                                                        foreach ($order_items as $items) {
                                                            $prod_name = $ord->getProductName($items['product_id']);
                                                    ?>
                                                        <div class="row mb-2 p-2">
                                                            <div class="col">
                                                                <span class="text-muted fw-bold">Product Name:</span> <br>
                                                                <?= htmlspecialchars($prod_name['name']); ?>
                                                            </div>
                                                            <div class="col">
                                                                <span class="text-muted fw-bold">Price:</span> &#8369;<?= htmlspecialchars($items['price']); ?> <br>
                                                                <span class="text-muted fw-bold">Quantity:</span> <?= htmlspecialchars($items['quantity']); ?> <br>
                                                            </div>
                                                        </div>
                                                    <?php } ?>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <?php } ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="received" role="tabpanel" aria-labelledby="received-tab" tabindex="0">
                        <div class="table-responsive">
                            <table class="table table-hover table-sm">
                                <thead>
                                    <th scope="col">Order No.</th>
                                    <th scope="col">Total Price</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Last Updated</th>
                                    <th scope="col">Action</th>
                                </thead>
                                <tbody>
                                    <?php 
                                        foreach($ord_table_rece as $data_r) {
                                            $time = $data_r['date_updated'];
                                            $timestamp = strtotime($time);
                                            $date = date("M-d-Y, h:i a", $timestamp); 
                                    ?>
                                    <tr>
                                        <td scope="row"><?= htmlspecialchars($data_r['order_id']); ?></td>
                                        <td><?= htmlspecialchars($data_r['total_amount']); ?></td>
                                        <td><?= htmlspecialchars($data_r['status']); ?></td>
                                        <td><?= htmlspecialchars($date); ?></td>
                                        <td>
                                            <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#orderr<?= htmlspecialchars($data_r['order_id']); ?>">View</button>
                                        </td>
                                    </tr>
                                    <div class="modal fade" id="orderr<?= htmlspecialchars($data_r['order_id']); ?>" aria-labelledby="<?= htmlspecialchars($data_r['order_id']); ?>" aria-hidden="true" tabindex="-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title">Order Details</h1>
                                                </div>
                                                <div class="modal-body">
                                                    <?php 
                                                        $order_items = $ord->getOrderItems($data_r['order_id']);
                                                        foreach ($order_items as $items) {
                                                            $prod_name = $ord->getProductName($items['product_id']);
                                                    ?>
                                                        <div class="row mb-2 p-2">
                                                            <div class="col">
                                                                <span class="text-muted fw-bold">Product Name:</span> <br>
                                                                <?= htmlspecialchars($prod_name['name']); ?>
                                                            </div>
                                                            <div class="col">
                                                                <span class="text-muted fw-bold">Price:</span> &#8369;<?= htmlspecialchars($items['price']); ?> <br>
                                                                <span class="text-muted fw-bold">Quantity:</span> <?= htmlspecialchars($items['quantity']); ?> <br>
                                                            </div>
                                                        </div>
                                                    <?php } ?>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <?php } ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="cancelled" role="tabpanel" aria-labelledby="cancelled-tab" tabindex="0">
                        <div class="table-responsive">
                            <table class="table table-hover table-sm">
                                <thead>
                                    <th scope="col">Order No.</th>
                                    <th scope="col">Total Price</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Last Updated</th>
                                    <th scope="col">Action</th>
                                </thead>
                                <tbody>
                                    <?php 
                                        foreach($ord_table_canc as $data_c) {
                                            $time = $data_c['date_updated'];
                                            $timestamp = strtotime($time);
                                            $date = date("M-d-Y, h:i a", $timestamp); 
                                    ?>
                                    <tr>
                                        <td scope="row"><?= htmlspecialchars($data_c['order_id']); ?></td>
                                        <td><?= htmlspecialchars($data_c['total_amount']); ?></td>
                                        <td><?= htmlspecialchars($data_c['status']); ?></td>
                                        <td><?= htmlspecialchars($date); ?></td>
                                        <td>
                                            <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#orderc<?= htmlspecialchars($data_c['order_id']); ?>">View</button>
                                        </td>
                                    </tr>
                                    <div class="modal fade" id="orderc<?= htmlspecialchars($data_c['order_id']); ?>" aria-labelledby="<?= htmlspecialchars($data_c['order_id']); ?>" aria-hidden="true" tabindex="-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title">Order Details</h1>
                                                </div>
                                                <div class="modal-body">
                                                    <?php 
                                                        $order_items = $ord->getOrderItems($data_c['order_id']);
                                                        foreach ($order_items as $items) {
                                                            $prod_name = $ord->getProductName($items['product_id']);
                                                    ?>
                                                        <div class="row mb-2 p-2">
                                                            <div class="col">
                                                                <span class="text-muted fw-bold">Product Name:</span> <br>
                                                                <?= htmlspecialchars($prod_name['name']); ?>
                                                            </div>
                                                            <div class="col">
                                                                <span class="text-muted fw-bold">Price:</span> &#8369;<?= htmlspecialchars($items['price']); ?> <br>
                                                                <span class="text-muted fw-bold">Quantity:</span> <?= htmlspecialchars($items['quantity']); ?> <br>
                                                            </div>
                                                        </div>
                                                    <?php } ?>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <?php } ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>