<div class="container py-5">
    <div class="text-start mb-4">
        <a href="./product-page.php" class="btn btn-outline-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/></svg>
            Go to Products
        </a>
    </div>
    <h2 class="mb-5">User Profile</h2>
    <div class="row">
        <div class="col-lg-4">
            <div class="position-sticky m-5" style="top: 20rem;">
                <h4 class="my-3 text-center">User Information</h4>
                <div class="row mb-3">
                    <h5 class="col">Username</h5>
                    <span class="col"><?= htmlspecialchars($_SESSION['username']); ?></span>
                </div>
                <hr>
                <div class="row mb-3">
                    <h5 class="col">Email</h5>
                    <span class="col"><?= htmlspecialchars($_SESSION['email']); ?></span>
                </div>
                <hr>
                <div class="row mb-3">
                    <h5 class="col">Phone Number</h5>
                    <span class="col"><?= htmlspecialchars($_SESSION['phone']); ?></span>
                </div>
                <div class="row mb-2 d-flex px-3">
                    <button class="btn btn-outline-danger">Edit User Info</button>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="p-2">
                <h4 class="my-3 text-center">Order History</h4>
                <form class="" action="" method="get">
                    <div class="row">
                        <div class="col">
                            <div class="input-group input-group-sm mb-3">
                                <label for="sorter" class="input-group-text">Sort by:</label>
                                <select name="" id="sorter" class="form-select" aria-label="table-sorter">
                                    <option selected>Choose option...</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Processing">Processing</option>
                                    <option value="Cancelled">Cancelled</option>
                                    <option value="Shipped">Shipped</option>
                                    <option value="Received">Received</option>
                                </select>
                            </div>

                        </div>
                        <div class="col">
                            <button class="btn btn-outline-primary btn-sm w-100" type="submit">Sort</button>
                        </div>
                    </div>
                </form>
                <table class="table table-responsive table-bordered table-striped table-sm">
                    <thead>
                        <th scope="1">Order No.</th>
                        <th scope="1">Total Price</th>
                        <th scope="1">Status</th>
                        <th scope="1">Last Updated</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">1</td>
                            <td>100.00</td>
                            <td>Pending</td>
                            <td>2025-11-11</td>
                        </tr>
                    </tbody>
                </table>
                <nav class="d-flex justify-content-center">
                    <ul class="pagination">
                        <li class="page-item disabled"><a class="page-link" href="">Prev</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>