<?php
    $inrange = false;
?>
<nav class="d-flex justify-content-center">
    <ul class="pagination">
        <?php if ($page > 1) { ?>
        <li class="page-item">
            <a href="?page=<?= $page - 1; ?>" class="page-link"><span aria-hidden="true">&laquo;</span></a>
        </li>
        <?php } ?>

        <?php for($i = 1; $i <= $total_pages; $i++) { ?>
            <?php if ($i <= 1 || $i >= $total_pages - 1 || abs($i - $page) <= 1) { ?>
                <?php $inrange = false; ?>
                <?php if ($i == $page) { ?>
                    <li class="page-item">
                        <a href="?page=<?= $i; ?>" class="page-link link-body-emphasis active"><?= $i; ?></a>
                    </li>
                <?php } else { ?>
                <li class="page-item">
                    <a href="?page=<?= $i; ?>" class="page-link"><?= $i; ?></a>
                </li>
                <?php } ?>
            <?php } else { ?>
                <?php if (!$inrange) { ?>
                <li class="page-item">
                    <a class="page-link">...</a>
                </li>
                <?php } ?>
                <?php $inrange = true; ?>
            <?php } ?>
        <?php } ?>

        <?php if ($page < $total_pages ) { ?>
        <li class="page-item">
            <a href="?page=<?= $page + 1; ?>" class="page-link"><span aria-hidden="true">&raquo;</span></a>
        </li>
        <?php } ?>
    </ul>
</nav>