/* Custom CSS Here */

/* Universal */
.navi-cont {
    min-height: 5vh;
    background-color: #2c2c2c;
    .navi {

        a {
            color: white;
            transform: 0.5s;
        }
        a:hover {
            color: aqua;
            transform: 0.5s;
        }
    }
}
.foot-cont {
    min-height: 5vh;
    background-color: #2c2c2c;

    .footah {
        svg {
            transform: 0.5s;
        }
        svg:hover {
            color: aqua;
            transform: 0.5s;
        }
    }
}

/* Landing Page */
#home {
    min-height: 100vh;
    background-color: gray;
}
#about {
    min-height: 100vh;
    background-color: gainsboro;
}
#products {
    min-height: 100vh;
    background-color: gray;

}
#contacts {
    min-height: 100vh;
    background-color: gainsboro;
}

/* Login Page */
.login-cont {
    min-height: 86vh;

    .login-form {
        outline-style: solid ;
        outline-color: darkgray;
        outline-width: 1px;
        border-radius: 1.5em;
        background-color: whitesmoke;
        box-shadow: 10px 10px 20px -9px rgba(0,0,0,0.6);
        -webkit-box-shadow: 10px 10px 20px -9px rgba(0,0,0,0.6);
        -moz-box-shadow: 10px 10px 20px -9px rgba(0,0,0,0.6);
    }
}

/* Register Page */
.reg-cont {
    min-height: 86vh;

    .reg-form {
        outline-style: solid ;
        outline-color: darkgray;
        outline-width: 1px;
        border-radius: 1.5em;
        background-color: whitesmoke;
        box-shadow: 10px 10px 20px -9px rgba(0,0,0,0.6);
        -webkit-box-shadow: 10px 10px 20px -9px rgba(0,0,0,0.6);
        -moz-box-shadow: 10px 10px 20px -9px rgba(0,0,0,0.6);
    }
}