/* Custom CSS Here */

/* Universal */
.foot-cont {
    min-height: 5vh;
    background-color: #2c2c2c;

    .footah {
        svg {
            transform: 0.5s;
        }
        svg:hover {
            color: aqua;
            transform: 0.5s;
        }
    }
}
.form-cont {
    max-width: 340px;
}
.logreg-link {
    color: blue;
    transform: 0.5s;
}
.logreg-link:hover {
    color: aqua;
    transform: 0.5s;
}

/* Landing Page */
#home {
    min-height: 100vh;
    padding-top: 5rem;
}



/* Product Page */
.product-cont {
    min-height: 100vh;
}

/* User Dashboard Page */
.usrdash-cont {
    min-height: 100vh;
}

/* Admin Dashboard Page */
.admdash-cont {
    min-height: 100vh;
}

/* Shopping Cart Page */
.cart-cont {
    min-height: 100vh;

    .cart-total {
        outline-style: solid ;
        outline-color: darkgray;
        outline-width: 1px;
        background-color: whitesmoke;
    }
}