/* Custom CSS Here */

/* Universal */
.foot-cont {
    min-height: 5vh;
    background-color: #2c2c2c;

    .footah {
        svg {
            transform: 0.5s;
        }
        svg:hover {
            color: aqua;
            transform: 0.5s;
        }
    }
}
.logreg-link {
    color: blue;
    transform: 0.5s;
}
.logreg-link:hover {
    color: aqua;
    transform: 0.5s;
}

/* Landing Page */
.index-cont {
    min-height: 100vh;
}

/* Login Page */
.login-cont {
    min-height: 100vh;

    .login-form {
        outline-style: solid ;
        outline-color: darkgray;
        outline-width: 1px;
        border-radius: 1.5em;
        background-color: whitesmoke;
        box-shadow: 10px 10px 20px -9px rgba(0,0,0,0.6);
        -webkit-box-shadow: 10px 10px 20px -9px rgba(0,0,0,0.6);
        -moz-box-shadow: 10px 10px 20px -9px rgba(0,0,0,0.6);
    }
}

/* Register Page */
.reg-cont {
    min-height: 100vh;

    .reg-form {
        outline-style: solid ;
        outline-color: darkgray;
        outline-width: 1px;
        border-radius: 1.5em;
        background-color: whitesmoke;
        box-shadow: 10px 10px 20px -9px rgba(0,0,0,0.6);
        -webkit-box-shadow: 10px 10px 20px -9px rgba(0,0,0,0.6);
        -moz-box-shadow: 10px 10px 20px -9px rgba(0,0,0,0.6);
    }
}

/* Product Page */
.product-cont {
    min-height: 100vh;
}

/* User Dashboard Page */
.usrdash-cont {
    min-height: 100vh;
}

/* Admin Dashboard Page */
.admdash-cont {
    min-height: 100vh;
}

/* Shopping Cart Page */
.cart-cont {
    min-height: 100vh;

    .cart-total {
        outline-style: solid ;
        outline-color: darkgray;
        outline-width: 1px;
        background-color: whitesmoke;
    }
}