/* Custom CSS Here */
:target::before {
  content: "";
  display: block;
  height: 5rem;
  margin: -5rem 0 0;
}
/* Universal */
.foot-cont {
    min-height: 5vh;
    background-color: #2c2c2c;

    .footah {
        svg {
            transform: 0.5s;
        }
        svg:hover {
            color: aqua;
            transform: 0.5s;
        }
    }
}
.form-cont {
    max-width: 340px;
}
.logreg-link {
    color: blue;
    transform: 0.5s;
}
.logreg-link:hover {
    color: aqua;
    transform: 0.5s;
}

/* Landing Page */
#home {
    min-height: 100vh;
    padding-top: 5rem;
}

/* Contact Page */
.contact-cont {
    min-height: 100vh;
}

/* Product Page */
.product-cont {
    min-height: 100vh;
}

/* User Dashboard Page */
.usrdash-cont {
    min-height: 100vh;
}

/* Admin Dashboard Page */
.admdash-cont {
    min-height: 100vh;
}

/* Shopping Cart Page */
.cart-cont {
    min-height: 100vh;

    .cart-item {
        img {
            max-width: 100px;
            height: auto;
        }
    }
    .qty-input {
        /* width: 50px; */
    }
}