<div class="container-fluid">
    <div class="row">
        <?php include('./resource/template/admin-dashboard/admin-sidebar.html') ?>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 min-vh-100">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h2>Orders</h2>
                <form class="row" action="" method="get">
                    <div class="col">
                        <div class="input-group input-group-sm">
                            <input class="form-control" type="text" name="search" placeholder="Search...">
                            <button class="btn btn-outline-success" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/></svg>
                            </button>
                        </div>
                    </div>
                    <!-- <div class="col">
                        <div class="input-group input-group-sm">
                            <label class="input-group-text" for="sorter">Sort by:</label>
                            <select class="form-select" name="date-sort" id="sorter">
                                <option value="1">Wow</option>
                                <option value="2">Amazing</option>
                                <option value="3">Piss</option>
                                <option value="4">Ass</option>
                            </select>
                        </div>
                    </div> -->
                </form>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col">OID</th>
                            <th scope="col">UID</th>
                            <th scope="col">Total Price</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date Created</th>
                            <th scope="col">Date Updated</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($ord_admin as $data) { ?>
                        <tr>
                            <td scope="row"><?= htmlspecialchars($data['order_id']); ?></td>
                            <td><?= htmlspecialchars($data['user_id']); ?></td>
                            <td><?= htmlspecialchars($data['total_amount']); ?></td>
                            <td><?= htmlspecialchars($data['status']); ?></td>
                            <td><?= htmlspecialchars($data['date_created']); ?></td>
                            <td><?= htmlspecialchars($data['date_updated']); ?></td>
                            <td>
                                <button class="btn btn-sm btn-outline-success">
                                    Edit
                                </button>
                            </td>
                        </tr>
                        <?php } ?>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>