<div class="container-fluid">
    <div class="row">
        <?php include('./resource/template/admin-dashboard/admin-sidebar.html') ?>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 min-vh-100">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h2>Products</h2>
                <form class="row" action="" method="get">
                    <div class="col">
                        <div class="input-group input-group-sm">
                            <input class="form-control" type="text" name="search" placeholder="Search...">
                            <button class="btn btn-outline-success" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/></svg>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col">PID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">ID</td>
                            <form action="./resource/php/adminproducthandler.php" method="post">
                                <td>
                                    <div class="form-floating">
                                        <input class="form-control" type="text" name="name" id="nbox" required>
                                        <label for="nbox">Name</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-floating">
                                        <textarea class="form-control" name="desc" id="tbox" rows="1" style="resize: none;" required></textarea>
                                        <label for="tbox">Description</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-floating">
                                        <input class="form-control" type="number" name="price" min="0.01" step="0.01" value="0.00" pattern="[0-9]*" id="pbox" required>
                                        <label for="pbox">Price</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-floating">
                                        <input class="form-control" type="number" name="stock" min="1" value="1" pattern="[0-9]*" id="sbox" required>
                                        <label for="sbox">Stock</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="p-3">
                                        <button class="btn btn-sm btn-success" type="submit" name="new-itm">Submit</button>
                                    </div>
                                </td>
                            </form>
                        </tr>
                        <?php foreach($prod_table_a as $data) { ?>
                        <tr>
                            <td scope="row"><?= htmlspecialchars($data['product_id']); ?></td>
                            <td><?= htmlspecialchars($data['name']); ?></td>
                            <td><?= htmlspecialchars($data['description']); ?></td>
                            <td><?= htmlspecialchars($data['price']); ?></td>
                            <td><?= htmlspecialchars($data['stock']); ?></td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#item<?= htmlspecialchars($data['product_id']); ?>">
                                        Edit
                                    </button>
                                    <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#itemd<?= htmlspecialchars($data['product_id']); ?>">
                                        Delete
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <div class="modal fade" id="itemd<?= htmlspecialchars($data['product_id']); ?>" tabindex="-1" aria-hidden="true" aria-labelledby="itemd<?= htmlspecialchars($data['product_id']); ?>">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title" id="del-label">Delete Product #<?= htmlspecialchars($data['product_id']); ?></h1>
                                    </div>
                                    <div class="modal-body">
                                        <form action="./resource/php/adminproductdeletehandler.php" method="post">
                                            <h3 class="text-danger mb-3">Are you sure?</h3>
                                            <div class="d-flex justify-content-center gap-5">
                                                <input type="hidden" name="id" value="<?= htmlspecialchars($data['product_id']); ?>">
                                                <button class="btn btn-danger btn-lg rounded-pill w-75" type="submit" name="delete-usr">Yes</button>
                                                <button class="btn btn-warning btn-lg rounded-pill w-75" type="reset" data-bs-dismiss="modal">No</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="item<?= htmlspecialchars($data['product_id']); ?>" tabindex="-1" aria-hidden="true" aria-labelledby="item<?= htmlspecialchars($data['product_id']); ?>">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title" id="edit-label">Edit Product #<?= htmlspecialchars($data['product_id']); ?></h1>
                                    </div>
                                    <div class="modal-body">
                                        <form action="" method="post">
                                            <input type="hidden" value="<?= $data['product_id']; ?>" name="hidden_pid">
                                            <input type="hidden" name="csrf_token" value="<?= $_SESSION['csrf_token'] ?>">
                                            <div class="form-floating mb-3">
                                                <input class="form-control" type="text" value="<?= htmlspecialchars($data['name']); ?>" name="pname" id="ename">
                                                <label for="ename">Product Name</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <textarea class="form-control h-100" id="edescr" rows="10" style="resize: none;" name="pdesc"><?= htmlspecialchars($data['description']); ?></textarea>
                                                <label for="edescr">Product Description</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" type="number" value="<?= htmlspecialchars($data['price']); ?>" name="pprice" id="eprays">
                                                <label for="eprays">Product Price</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" type="number" value="<?= htmlspecialchars($data['stock']); ?>" name="pstock" id="eistok">
                                                <label for="eistok">Product Stock</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" type="text" placeholder="image link" name="plink" id="elink">
                                                <label for="elink">Product Image Link</label>
                                            </div>
                                            <div class="d-flex row justify-content-center align-items-center gap-2 p-2">
                                                <button class="btn btn-success" type="submit" name="edit-prod">Save Changes</button>
                                                <button class="btn btn-danger" type="reset" data-bs-dismiss="modal">Discard Changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?php } ?>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>