<div class="my-5 py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form class="d-flex" method="get">
                    <input type="hidden" name="csrf_token" value="<?= htmlspecialchars($_SESSION['csrf_token'] ?? ''); ?>" >
                    <div class="input-group">
                        <input type="text" class="form-control form-control-lg" type="search" aria-label="searchbar" placeholder="Search..." name="search">
                        <button class="btn btn-outline-success" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/></svg>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>