<div class="container my-5 py-5">
    <!-- Back to Shopping Start -->
    <div class="text-start mb-4">
        <a href="./product-page.php" class="btn btn-outline-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/></svg>
            Continue Shopping
        </a>
    </div>
    <!-- Back to Shopping End -->
    <h1 class="mb-5">Your Shopping Cart <b class="text-muted">(<?= htmlspecialchars($_SESSION['cart_item_count']); ?>)</b></h1>
    <div class="row">
        <div class="col-lg-8">
            <!-- Product Cont Start -->
             <div class="card mb-4">
                <div class="card-body">
                    <?php 
                        foreach($cart_item as $item) {
                            $prod_info = $cart->getProductInfo($item['product_id']);
                    ?>
                    <!-- Cart Item Start -->
                    <form class="cart-item row mb-3" method="post" action="./resource/php/carthandler.php">
                        <input type="hidden" name="ci-id" value="<?= htmlspecialchars($item['cart_id']); ?>">
                        <input type="hidden" name="ci-pid" value="<?= htmlspecialchars($item['product_id']); ?>">
                        <div class="col-md-3">
                            <img src="<?= htmlspecialchars($prod_info['image_link']); ?>" alt="Product 1 IMG" class="img-fluid rounded">
                        </div>
                        <div class="col-md-5">
                            <h5 class="card-title"><?= htmlspecialchars($prod_info['name']); ?></h5>
                            <p class="text-muted">
                                <?= htmlspecialchars($prod_info['description']); ?>
                            </p>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <button class="btn btn-outline-secondary btn-sm" type="submit" name="sub-citm">-</button>
                                <input name="upd-citm" type="text" class="form-control form-control-sm text-center qty-input" value="<?= htmlspecialchars($item['quantity']); ?>" min="1" max="<?= htmlspecialchars($prod_info['stock']); ?>" readonly>
                                <button class="btn btn-outline-secondary btn-sm" type="submit" name="add-citm">+</button>
                            </div>
                        </div>
                        <div class="col-md-2 text-end">
                            <p class="fw-bold">
                                &#8369; <?= $item['price']; ?>
                            </p>
                            <button class="btn btn-sm btn-outline-danger" type="submit" name="del-citm">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16"><path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/></svg>
                            </button>
                        </div>
                    </form>
                    <!-- Cart Item End; hr is the separator-->
                    <hr>
                    <?php } ?>
                </div>
             </div>
             <!-- Product Cont End -->
        </div>
        <!-- Item Details Start -->
        <div class="col-lg-4">
            <div class="position-sticky cart bg-body-tertiary p-2 border border-2 rounded" style="top: 10rem;">
                <div class="card-body">
                    <h5 class="card-title mb-4">Order Details</h5>
                    <div class="d-flex justify-content-between mb-4">
                        <strong>Shipping Cost?</strong>
                        <strong>Price</strong>
                    </div>
                    <div class="d-flex justify-content-between mb-4">
                        <strong>Total Price</strong>
                        <strong>&#8369; <?= htmlspecialchars($total); ?></strong>
                    </div>
                    <button class="btn btn-primary w-100">Order Now</button>
                </div>
            </div>
        </div>
        <!-- Item Details End -->
    </div>
</div>