        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <?php if (basename($_SERVER['PHP_SELF']) == 'admin-dashboard.php') {?>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <?php } ?>
        <?php foreach($js_locs as $loc) { ?>
            <script src="<?= htmlspecialchars($loc ?? ''); ?>"></script>
        <?php } ?>
    </body>
</html>