        <script src="./vendor/bootstrap/js/bootstrap.bundle.min.js" nonce="<?= htmlspecialchars($_SERVER['CSP_NONCE'] ?? ''); ?>" crossorigin="anonymous"></script>
        <?php if (basename($_SERVER['PHP_SELF']) == 'admin-dashboard.php') {?>
            <script src="https://cdn.jsdelivr.net/npm/chart.js" nonce="<?= htmlspecialchars($_SERVER['CSP_NONCE'] ?? ''); ?>" crossorigin="anonymous"></script>
        <?php } ?>
        <?php foreach($js_locs as $loc) { ?>
            <script src="<?= htmlspecialchars($loc ?? ''); ?>" nonce="<?= htmlspecialchars($_SERVER['CSP_NONCE'] ?? ''); ?>" crossorigin="use-credentials"></script>
        <?php } ?>
    </body>
</html>